#General
go2v
go2v.exe
vls.log

#Testing
path_test_area/
temp/
tests/**/out.vv
test.go
test.v
z

#MacOS
.DS_Store
*.dSYM/

#Intellij IDEA
.idea/
*.iml
#VSCode
.vscode/

#Temp conversion files
**/*.json
